.design-flex {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0%;
}

.design-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.design-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  background-color: #616161;
}

.design-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  background-color: #9E9E9E;
}

.design-left-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  background-color: #616161;
}

.design-right-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  background-color: #9E9E9E;
}

.design-left-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #616161;
}

.design-right-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #9E9E9E;
}
