/* Resume Extension Universal */
.resume-extension-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FAFAFA;
}

.resume-extension-width {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: calc(100% - 20vw);
}

.flex-basic {
  display: flex;
}

.flex-basic h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .5px;
  text-align: right;
}

.flex-basic ul {
  list-style-type: none;
  width: 70%;
}

.case {
  margin-left: 20px !important;
  margin-right: 20px !important;
  width: 30%;
}


/* Skills List Page */
  .skills-list h1 {
    color: #F20000;
  }

  .skills-list ul {
    width: 20%;
  }

  .skills-list li {
    font-family: "Space Mono", sans-serif;
    font-size: .9rem;
    font-weight: 700;
    white-space: nowrap;
    color: #3E5259;
    padding: 3px 0px 3px 35px;
    margin: 12px 20% 5px 12px;
    opacity: 0;
  }

/* Experience List Page */
  .experience-list h1 {
    color: #FFA300;
  }

  .experience-list li {
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .3px;
    width: 100%;
    color: #3E5259;
    padding: 3px 0px 3px 35px;
    margin: 12px 20% 4px 12px;
    opacity: 0;
  }

  li.list-descriptor-title {
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #CC3D32;
    letter-spacing: .25px;
    line-height: 120%;
    padding: 0px 0px 2px 35px;
    margin: 0px 12px 0px 12px;
    opacity: 0;
  }

  li.list-descriptor {
    font-family: "Space Mono", serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 120%;
    padding: 0px 0px 0px 45px;
    margin: 0px 12px 0px 12px;
  }

/* Contact List Page */

  .contact-list h1 {
    color: #00BFAC;
    padding: 8px 10px 8px 10px !important;
  }

  .contact-list-links {
    display: flex;
    flex-direction: column;
  }

  .contact-list-links li {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .3px;
    color: #3E5259;
    padding: 3px 0px 3px 35px;
    margin: 12px;
    opacity: 0;
  }

/* ANIMATIONS */
  /* ---Text Movers--- */
  .experience-text-show-left {
    animation: translate-text-left-experience 2.25s ease forwards;
  }

  @keyframes translate-text-left-experience {
    0% {
      transform: translate3d(50%, 0px, 0px);
      opacity: 0;
    }
    100% {
      transform: translate3d(0%, 0px, 0px);
      opacity: 1;
    }
  }

  .experience-text-show-up {
    animation: translate-text-up-experience 1.25s ease 1s forwards;
  }

  @keyframes translate-text-up-experience {
    0% {
      transform: translate3d(0px, 120%, 0px);
      opacity: 0;
    }
    100% {
      transform: translate3d(0px, 0%, 0px);
      opacity: 1;
    }
  }

  .experience-text-show-up-slow {
    animation: translate-text-up-slow-experience 1.25s ease 1.5s forwards;
  }

  @keyframes translate-text-up-slow-experience {
    0% {
      transform: translate3d(0px, 120%, 0px);
      opacity: 1;
    }
    100% {
      transform: translate3d(0px, 0%, 0px);
      opacity: 1;
    }
  }

  .skills-text-show-left {
    animation: translate-text-left-slow-skills 2.25s ease forwards;
  }

  @keyframes translate-text-left-slow-skills {
    0% {
      transform: translate3d(100%, 0px, 0px);
      opacity: 0;
    }
    100% {
      transform: translate3d(0%, 0px, 0px);
      opacity: 1;
    }
  }

  .skills-text-show-up {
    animation: translate-text-up-skills 1s ease 1.25s forwards;
  }

  @keyframes translate-text-up-skills {
    0% {
      transform: translate3d(0px, 100%, 0px);
      opacity: 0;
    }
    100% {
      transform: translate3d(0px, 0%, 0px);
      opacity: 1;
    }
  }

  .contact-text-show-left {
    animation: translate-text-left-slow-contact 2.25s ease forwards;
  }

  @keyframes translate-text-left-slow-contact {
    0% {
      transform: translate3d(100%, 0px, 0px);
      opacity: 0;
    }
    100% {
      transform: translate3d(0%, 0px, 0px);
      opacity: 1;
    }
  }

  .contact-text-show-up {
    animation: translate-text-up-contact 1.25s ease 1s forwards;
  }

  @keyframes translate-text-up-contact {
    0% {
      transform: translate3d(0px, 100%, 0px);
      opacity: 0;
    }
    100% {
      transform: translate3d(0px, 0%, 0px);
      opacity: 1;
    }
  }

/* Icons */
  /* Dev/Design */
  li.ruby {
    background: url("../logos/skills/ruby-plain.svg") no-repeat left top;
  }
  li.rails {
    background: url("../logos/skills/rails-plain.svg") no-repeat left top;
  }
  li.html {
    background: url("../logos/skills/html5-plain.svg") no-repeat left top;
  }
  li.css {
    background: url("../logos/skills/css3-plain.svg") no-repeat left top;
  }
  li.js {
    background: url("../logos/skills/javascript-plain.svg") no-repeat left top;
  }
  li.react {
    background: url("../logos/skills/react-original.svg") no-repeat left top;
  }
  li.bootstrap {
    background: url("../logos/skills/bootstrap-plain.svg") no-repeat left top;
  }
  li.d3 {
    background: url("../logos/skills/d3js-plain.svg") no-repeat left top;
  }
  li.git {
    background: url("../logos/skills/git-plain.svg") no-repeat left top;
  }
  li.ps {
    background: url("../logos/skills/photoshop-plain.svg") no-repeat left top;
  }
  li.ai {
    background: url("../logos/skills/illustrator-plain.svg") no-repeat left top;
  }
  li.id {
    background: url("../logos/skills/indesign-plain.svg") no-repeat left top;
  }
  li.rhino {
    background: url("../logos/skills/rhino-plain.svg") no-repeat left top;
  }
  li.max {
    background: url("../logos/skills/max-plain.svg") no-repeat left top;
  }
  li.vray {
    background: url("../logos/skills/vray-plain.svg") no-repeat left top;
  }

  /* Resume */
  li.alz {
    background: url("../logos/experience/alz-logo.svg") no-repeat left top;
  }
  li.alexian {
    background: url("../logos/experience/alexian-logo.svg") no-repeat left top;
  }
  li.alexian-cmh {
    background: url("../logos/experience/alexian-cmh-logo.svg") no-repeat left top;
  }
  li.cheetah {
    background: url("../logos/experience/cheetah-logo.svg") no-repeat left top;
  }
  li.dbc {
    background: url("../logos/experience/dbc-logo.svg") no-repeat left top;
  }
  li.dbc-short {
    background: url("../logos/experience/dbc-short-logo.svg") no-repeat left top;
  }
  li.uic-arch {
    background: url("../logos/experience/uic-arch.svg") no-repeat left top;
  }
  li.uic-psych {
    background: url("../logos/experience/uic-psych.svg") no-repeat left top;
  }

  /* Contact */
  li.email {
    background: url("../logos/contact/email-original.svg") no-repeat left top;
  }
  li.linkedin {
    background: url("../logos/contact/linkedin-original.svg") no-repeat left top;
  }
  li.github {
    background: url("../logos/contact/github-original.svg") no-repeat left top;
  }
