---
title: Design
permalink: design/
---

{% include beginner.html %}
		<div class="container hp-bg">

      {% include nav_icon.html %}

      <div class="splash-container">
				<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="splash-lines design-lines" viewBox="0 0 324.504 326.029">

					<!-- Drop layer -->
					<g id="central-circle" fill="none" stroke="#F22057" stroke-width="5.5" stroke-linecap="round" stroke-linejoin="round">
						<path d="M175.8 220.6c11.48 0 22.44-4.55 30.55-12.66S219 188.87 219 177.4s-4.53-22.44-12.65-30.56c-8.1-8.1-19.07-12.65-30.54-12.65s-22.43 4.53-30.54 12.64c-8.1 8.12-12.65 19.08-12.65 30.55 0 11.46 4.54 22.42 12.66 30.54 8.1 8.1 19.07 12.65 30.55 12.65z"/>
					</g>
					<g id="blue-drop" class="design-fill-animation" fill="#26C6DA" stroke="#26C6DA" stroke-width=".75" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="103.81" cy="105.39" r="3.6"/>
					</g>
					<g id="yellow-drop" class="design-fill-animation" fill="#FFC107" stroke="#FFC107" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round">
						<path d="M186.6 184.6h7.2V199h-7.2z"/>
					</g>

					<!-- Lines -->
					<g id="thin" fill="none" stroke="#455A64" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round">
						<circle class="design-fill-animation" fill="#455A64" cx="190.21" cy="191.79" r="1.1"/>
						<circle cx="147.7" cy="256.96" r="4.32"/>
						<circle cx="147.01" cy="148.59" r="14.4"/>
						<path d="M197.85 113.58l-26.6-27"/>
						<path d="M236.16 152.46l-26.6-27"/>
						<path d="M233.86 182.04l-11.55 11.38c-1.38 4.42-3.32 8.42-5.93 12.25"/>
						<path d="M203.07 218.63c-3.74 2.4-7.63 4.2-11.9 5.46l-12.8 12.63"/>
						<path d="M157.9 242.42l-1.28 8.5 4.4.67 1.28-8.52z"/>
						<path d="M240.53 161.38l-1.27 2.13 1.08.7 1.3-2.1z"/>
						<path d="M257.05 168.52l-.47 2.04 1.13.3.48-2.08z"/>
						<path d="M105.43 111.1l26.3 26.3"/>
						<path d="M109.5 107.02l26.3 26.3"/>
						<path d="M97.98 104.3l-94.1 31.36"/>
						<path d="M99.8 109.76L2.96 142.04"/>
						<path d="M249.3 174.17l-.96 1.53.87.56.93-1.6z"/>
						<path d="M156 134.68c-6.57-4.23-15.2-3.32-20.7 2.2-5.52 5.52-6.44 14.14-2.2 20.7"/>
						<path d="M241.83 159l-6.06-6.14.78-.77 6.07 6.14z"/>
						<path d="M178.76 237.12l-6.15 6.07-.76-.8 6.15-6.06z"/>
						<path d="M178.76 237.12l-6.15 6.07-.76-.8 6.15-6.06z"/>
						<path d="M240.4 176.36l-6.16 6.07-.77-.78 6.15-6.07z"/>
						<path d="M1.95 139.34L103.8 105.4l31.5 31.48"/>
						<path d="M170.85 86.95l-6.06-6.15.77-.77 6.07 6.15z"/>
						<path d="M224.38 175.64c-.92-25.47-21.36-45.9-46.82-46.82"/>
						<path d="M178.35 179.94l11.86 11.85"/>
						<path d="M157.2 158.77l3.57 3.58"/>
						<path d="M162.04 163.63l5.3 5.3"/>
						<path d="M169.88 171.46l3.38 3.38"/>
						<path d="M127.24 179.14c.92 25.47 21.35 45.9 46.8 46.82"/>
						<path d="M152 77.66l2.18-.72 1.37 4.1-2.18.72z"/>
					</g>
					<g id="mid" fill="none" stroke="#455A64" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="175.81" cy="177.39" r="6.48"/>
						<circle cx="161.41" cy="162.99" r="3.78"/>
						<path d="M255.36 158.96l-.84 3.38 4.92 1.2.8-3.4z"/>
						<path d="M160 255.4l-.8 5.6 6.07.9.84-5.57z"/>
					</g>

					<!-- Shapes -->
					<g id="pure-red" class="design-fill-animation" fill="#F22057" stroke="#F22057" stroke-width=".75" stroke-linecap="round" stroke-linejoin="round">
						<path d="M165.1 65.6l.73 2.2-12.13 4.03-.72-2.18z"/>
						<path d="M243.06 168.25l-1.56 2.52 3.7 2.25 1.6-2.54z"/>
					</g>
					<g id="pure-yellow" class="design-fill-animation" fill="#FFC107" stroke="#FFC107" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="70.69" cy="70.44" r="4.32"/>
						<circle cx="70.69" cy="255.54" r="4.32"/>
						<path d="M247 155.88l-1.56 2.54 3.7 2.23 1.53-2.56z"/>
						<path d="M166.9 246.33l-.6 3.9 2.1.3.6-3.87z"/>
					</g>
					<g id="blue" class="design-fill-animation" fill="#26C6DA" stroke="#455A64" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="161.41" cy="162.99" r=".9"/>
						<circle cx="168.61" cy="170.19" r="1.8"/>
						<circle cx="154.21" cy="155.79" r="1.8"/>
					</g>
					<g id="green" class="design-fill-animation" fill="#37A7A3" stroke="#37A7A3" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round">
						<circle stroke-width=".75" cx="174.16" cy="75.23" r="5.88"/>
						<circle cx="208.8" cy="124.69" r="1.07"/>
						<circle cx="198.6" cy="114.34" r="1.07"/>
						<circle cx="203.96" cy="218.04" r="1.07"/>
						<circle cx="215.76" cy="206.55" r="1.07"/>
						<circle cx="147.7" cy="256.96" r="2.16"/>
						<circle cx="174.35" cy="254.58" r="4.32"/>
						<path d="M248.88 163.1l-2.13 3.45 5.02 2.97 2.07-3.42z"/>
					</g>

					<!-- Major elements -->
					<g id="outer-dark-thick" class="design-fill-animation" fill="none" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round">
						<path stroke-width="4" d="M72.24 257.04c37.6 35.63 92.78 45.47 140.36 25S291 214.8 291 163c0-51.8-30.83-98.62-78.4-119.07-47.6-20.46-102.77-10.62-140.36 25"/>
						<circle stroke-width=".75" fill="#F2A02A" cx="70.69" cy="255.54" r="2.16"/>
						<circle stroke-width=".75" fill="#F2A02A" cx="70.69" cy="70.44" r="2.16"/>
					</g>
					<g id="outer-dark-thin" class="design-fill-animation" stroke-linecap="round" stroke-linejoin="round">
						<circle fill="#FFC107" stroke="#FFC107" stroke-width=".5" cx="252.13" cy="268.73" r="4.32"/>
						<circle fill="#FFC107" stroke="#FFC107" stroke-width=".5" cx="252.13" cy="57.26" r="4.32"/>
						<path fill="none" stroke="#455A64" d="M250.48 55.86c-26.53-22.06-60.3-33.48-94.77-32.07-34.46 1.4-67.18 15.55-91.82 39.7"/>
						<path fill="none" stroke="#455A64" d="M63.88 262.48c24.64 24.15 57.36 38.3 91.83 39.7 34.48 1.42 68.25-10 94.78-32.06"/>
						<circle fill="#F2A02A" stroke="#455A64" stroke-width=".75" cx="252.13" cy="268.73" r="2.16"/>
						<circle fill="#F2A02A" stroke="#455A64" stroke-width=".75" cx="252.13" cy="57.26" r="2.16"/>
					</g>
					<g id="outer-circle" fill="none" stroke="#F74B16" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="48.01" cy="278.68" r="1"/>
						<circle cx="60.99" cy="290.12" r="1"/>
						<circle cx="75.13" cy="300.1" r="1"/>
						<circle cx="90.24" cy="308.52" r="1"/>
						<circle cx="106.17" cy="315.28" r="1"/>
						<circle cx="122.73" cy="320.3" r="1"/>
						<circle cx="139.73" cy="323.53" r="1"/>
						<circle cx="156.97" cy="324.93" r="1"/>
						<circle cx="174.27" cy="324.48" r="1"/>
						<circle cx="191.42" cy="322.19" r="1"/>
						<circle cx="208.23" cy="318.08" r="1"/>
						<circle cx="224.5" cy="312.2" r="1"/>
						<circle cx="240.06" cy="304.62" r="1"/>
						<circle cx="254.71" cy="295.42" r="1"/>
						<circle cx="268.31" cy="284.71" r="1"/>
						<circle cx="280.68" cy="272.62" r="1"/>
						<circle cx="291.69" cy="259.27" r="1"/>
						<circle cx="301.22" cy="244.82" r="1"/>
						<circle cx="309.15" cy="229.45" r="1"/>
						<circle cx="315.39" cy="213.31" r="1"/>
						<circle cx="319.88" cy="196.6" r="1"/>
						<circle cx="322.56" cy="179.5" r="1"/>
						<!-- <circle cx="323.4" cy="162.22" r="1"/> -->
						<circle cx="322.4" cy="144.95" r="1"/>
						<circle cx="319.56" cy="127.88" r="1"/>
						<circle cx="314.91" cy="111.21" r="1"/>
						<circle cx="308.51" cy="95.13" r="1"/>
						<circle cx="300.43" cy="79.83" r="1"/>
						<circle cx="290.77" cy="65.48" r="1"/>
						<circle cx="279.63" cy="52.24" r="1"/>
						<circle cx="267.15" cy="40.26" r="1"/>
						<circle cx="253.45" cy="29.68" r="1"/>
						<circle cx="238.71" cy="20.62" r="1"/>
						<circle cx="223.08" cy="13.19" r="1"/>
						<circle cx="206.75" cy="7.47" r="1"/>
						<circle cx="189.91" cy="3.52" r="1"/>
						<circle cx="172.74" cy="1.39" r="1"/>
						<circle cx="155.44" cy="1.1" r="1"/>
						<circle cx="138.2" cy="2.66" r="1"/>
						<circle cx="121.23" cy="6.05" r="1"/>
						<circle cx="104.72" cy="11.23" r="1"/>
						<circle cx="88.86" cy="18.14" r="1"/>
						<circle cx="73.83" cy="26.7" r="1"/>
						<circle cx="59.79" cy="36.82" r="1"/>
						<circle cx="46.91" cy="48.38" r="1"/>
						<circle cx="35.34" cy="61.25" r="1"/>
						<circle cx="25.21" cy="75.27" r="1"/>
						<circle cx="16.63" cy="90.3" r="1"/>
						<circle cx="9.7" cy="106.16" r="1"/>
						<circle cx="4.51" cy="122.66" r="1"/>
						<circle cx="1.1" cy="139.63" r="1"/>
					</g>

					<!-- Category titles -->
					<g id="design-title-text design-fill-animation" fill="#FFCC5A" stroke="#FFCC5A" stroke-width=".25" letter-spacing=".15" font-family="Montserrat" font-size= "12px">
						<text id="arch-text" class="pulse-anim design-fill-animation" x="22.5" y="181">architecture</text>
						<text id="web-text" class="pulse-anim design-fill-animation" x="366" y="165">web</text>
					</g>

					<!-- Category pointers -->
					<g id="category-pointer" fill="none" stroke="#FFCC5A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
						<path id="arch-pointer" d="M102.3 177.7h70"/>
						<line id="web-pointer" x1="362" y1="162.22" x2="327" y2="162.22"/>
					</g>

					<!-- Description -->
					<g class="description-box" fill="#D8564C" stroke="#D8564C" stroke-width=".5">
						<rect class="arch-text-box transition" visibility="hidden" opacity="0" x="-112" y="168" width="130.5" height="41" rx="5" ry="5"/>
						<rect class="web-text-box transition" visibility="hidden" opacity="0" x="396" y="152" width="128.5" height="41.5" rx="5" ry="5"/>
					</g>
					<g id="description-text" fill="#FFF" stroke="#FFF" stroke-width="0" letter-spacing=".1" font-family="Montserrat" font-weight="400" font-size= "9px">
						<text class="arch-description transition" visibility="hidden" opacity="0" y="280">
							<tspan dy="-100" x="-106px">Portfolio sample of design</tspan>
							<tspan dy="1.25em" x="-106px">work produced while</tspan>
							<tspan class="splash-text-links" dy="1.25em" x="-106px">studying architecture. <a xlink:href="/design/arch">link</a></tspan>
						</text>
						<text class="web-description transition" visibility="hidden" opacity="0" y="264">
							<tspan dy="-100" x="400px">Process for creating assets</tspan>
							<tspan dy="1.25em" x="400px">used in portfolio site and</tspan>
							<tspan class="splash-text-links" dy="1.25em" x="400px">svg/animation <a xlink:href="/developer/scenes">scenes</a>. <a xlink:href="/design/web">link</a></tspan>
						</text>
					</g>

					<!-- Pulse elements -->
					<g id="arch-pulse" fill="#F74B16" stroke="#F74B16" fill-opacity="0" stroke-linecap="round" stroke-linejoin="round">
						<circle stroke-width="2" cx="175.81" cy="177.39" r="3.6"/>
						<circle class="pulse-anim design-pulse-slow" fill="#F74B16" stroke="#6B9EB2" cx="175.81" cy="177.39" r="3.6"/>
						<circle class="pulse-anim design-pulse" cx="175.81" cy="177.39" r="3.6"/>
					</g>
					<g id="web-pulse" fill="#F74B16" stroke="#F74B16" fill-opacity="0" stroke-linecap="round" stroke-linejoin="round">
						<circle stroke-width="2" cx="323.4" cy="162.22" r="3.6"/>
						<circle class="pulse-anim design-pulse-slow" fill="#F74B16" stroke="#6B9EB2" cx="323.4" cy="162.22" r="3.6"/>
						<circle class="pulse-anim design-pulse" cx="323.4" cy="162.22" r="3.6"/>
					</g>
				</svg>
			</div>

      {% include nav_map.html %}

		</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script type="text/javascript" src="/assets/js/greensock_stagger.js"></script>
		<script type="text/javascript" src="/assets/js/interactions.js"></script>
	</body>
</html>
