---
title: Contact
permalink: contact
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
	</head>
	<body>
		<div class="resume-extension-container">

      {% include nav_icon.html %}

      <div class="resume-extension-width">
				<div class="contact-list flex-basic">
					<div class="hide-overflow case">
						<h1 class="contact-text-show-left">contact</h1>
					</div>
					<div class="contact-list-links">
						<ul>
							<div class="hide-overflow">
								<a href="https://www.linkedin.com/in/sayamkim/" target="_blank"><li class="linkedin contact-text-show-up">linkedin</li></a>
							</div>
							<div class="hide-overflow">
								<a href="https://github.com/sayamkim" target="_blank"><li class="github contact-text-show-up">github</li></a>
							</div>
							<div class="hide-overflow">
								<li class="email contact-text-show-up">sayamkim@gmail.com</li>
							</div>
						</ul>
					</div>
				</div>
			</div>

      {% include nav_map.html %}

		</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/interactions.js"></script>
	</body>
</html>
