---
title: Experience
permalink: /resume/experience
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
	</head>
	<body>
		<div class="resume-extension-container">

      {% include nav_icon.html %}

      <div class="resume-extension-width">
				<div class="experience-list flex-basic">
					<div class="hide-overflow case">
						<h1 class="experience-text-show-left">exp</h1>
					</div>
					<ul>
						<div class="hide-overflow">
							<li class="alz experience-text-show-up">Alzheimer's Association</li>
						</div>
						<div class="hide-overflow">
							<li class="list-descriptor-title experience-text-show-up-slow">Technical Associate - Client Services</li>
						</div>

						<div class="hide-overflow">
							<li class="alexian-cmh experience-text-show-up">Alexian Brothers Center for Mental Health</li>
						</div>
						<div class="hide-overflow">
							<li class="list-descriptor-title experience-text-show-up-slow">USARF Screener</li>
						</div>

						<div class="hide-overflow">
							<li class="alexian experience-text-show-up">Alexian Brothers Behavioral Health Hospital</li>
						</div>
						<div class="hide-overflow">
							<li class="list-descriptor-title experience-text-show-up-slow">Mental Health Counselor</li>
						</div>

						<div class="hide-overflow">
							<li class="cheetah experience-text-show-up">Cheetah Express</li>
						</div>
						<div class="hide-overflow">
							<li class="list-descriptor-title experience-text-show-up-slow">Air Export Specialist</li>
						</div>
					</ul>
				</div>
				<div class="experience-list flex-basic">
					<div class="hide-overflow case">
						<h1 class="experience-text-show-left">edu</h1>
					</div>
					<ul>
						<div class="hide-overflow">
							<li class="dbc-short experience-text-show-up">Dev Bootcamp | 2016</li>
						</div>
						<div class="hide-overflow">
							<li class="list-descriptor-title experience-text-show-up-slow">Immersive Web Development Curriculum</li>
						</div>
						<div class="hide-overflow">
							<li class="uic-arch experience-text-show-up">University of Illinois - Chicago | 2015</li>
						</div>
						<div class="hide-overflow">
							<li class="list-descriptor-title experience-text-show-up-slow">Master of Architecture</li>
						</div>
						<div class="hide-overflow">
							<li class="uic-psych experience-text-show-up">University of Illinois - Chicago | 2007</li>
						</div>
						<div class="hide-overflow">
							<li class="list-descriptor-title experience-text-show-up-slow">B.A. Applied Psychology</li>
						</div>
					</ul>
				</div>
			</div>

      {% include nav_map.html %}

		</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/interactions.js"></script>
	</body>
</html>
